@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cookie|Dancing+Script|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Cabin+Sketch');
*	{
	padding: 0;
	margin: 0;
}
body	{
	font-family: Amatic SC, sans-serif;
	background-image: url("bohemianlace.jpg");
	background-attachment: fixed;
	font-size: 1vw;
	color: #cfb53b;
}
header	{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	font-family: Cabin Sketch; 
	/*background: rgba(90,0,22,.75);*/
}
main 	{
	margin: 0px;
	line-height: 2em;
}
h1	{

	font-size: 5vw;
	font-family: Alex Brush, cursive;
	letter-spacing: .25em;
}
h2	{
	font-size: 3vw;
	font-family: Alex Brush, cursive;
	letter-spacing: .25em;
	line-height: 2em;
}
h4	{
	font-size: 1.5em;
	color: #cfb53b;
	font-family: Amatic SC, cursive;
	margin: .5em auto;
}
nav a 	{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	color: #ffffff;
	text-decoration: none;
	padding: 5px 10px 5px 20px;
}
a 	{
	
	padding: 1em;
	color: #cfb53b;
	text-decoration: none;
	margin: auto; 
	text-align: center;
}
img		{	
	width: 100%;
}
p {
	font-family: Amatic SC, cursive;
	font-size: 1em
	line-height: 1.5em;
	margin: 0;
	text-align: center;
}
hr 	{
	border: none;
	height: .25em;
	background-color: #ffffff;
	width: 6em;
	margin: 1em auto;
}
footer	{
	font-family: Alex Brush, cursive;
	/*background-color: rgba(90,0,22,.75);*/
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	font-size: 2em;
	padding: 5px;
	text-align: center;
}
section	{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	font-family: Amatic SC, cursive;
	background: rgba(90,0,22,.75);
	font-size: 2em;
	margin: 4em auto;
	text-align: center;
}
aside	{
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article	{
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
.info	{
	width: 15%;
	padding: 1em;
	background-color: rgba(0,22,90,.75);
	margin: .5em auto;
	font-size: 2vw;
}
.biginfo	{
	width: 30%;
	padding: 1em;
	background-color: rgba(0,22,90,.75);
	margin: 2em auto;
	font-size: 2vw;
}
.navlinks	{
	text-transform: uppercase;
	letter-spacing: .75em;
}
.register	{
	width: 50%;
	background-color: rgba(0,22,90,.75);
	margin: 1em auto;
	font-size: 3.5vw;
}
.left	{
	float: left;
	clear: left;
	width: 25%;
	border: .5em solid rgba(0,22,90,.75);
	margin: 1em;
}
.right	{
	float: right;
	clear: right;
	width: 25%;
	border: .5em solid rgba(0,22,90,.75);
	margin: 1em;
}
.top	{
	width: 15em;
}
.brideinfo	{
	width: 30%;
	padding: .5em;
	background: rgba(90,0,22,.75);
	margin: 2em auto;
	font-size: 2.5vw;
	letter-spacing: .1em;
	line-height: 2em;
}
.groominfo	{
	width: 30%;
	padding: 1em;
	background: rgba(0,22,90,.75);
	margin: 2em auto;
	font-size: 2.5vw;
	letter-spacing: .1em;
	line-height: 2em;
}