*	{
	padding: 0;
	margin: 0;
}

body	{
	font-family: sans-serif;
	background-image: url ('images/lace.jpg');
	font-size: 20px;
	color: #cfb53b;
	line-height: 1.5;
}

header	{
	background: #5A0016;
	padding: 10px;
	text-align: center;
	font-family: helvetica;
}
main 	{
	margin: 40px;
}

h1	{
	font-size: 80px;
	color: #cfb53b;
	font-family: Amatic SC, cursive;
	letter-spacing: 20px;
}

h4	{
	padding: 10px;
	color: #cfb53b;
	font-family: serif;
}

nav a 	{
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
}

a 	{
	color: #cfb53b;
	text-decoration: none;
}

img	{
	width: 20%;
}

p {
	font-size:18px;
	line-height: 2em;
	margin: 2em;
}

footer	{
	padding: 50px;
	background-color: #00165A;
	text-align: center;

}
